.sponsor
{
    margin-top: 90px;
}
.sponsor_image
{
    margin-top: 60px;
    width: 100%;

}

.fade_rev
{
    margin-top: -290px;
    height: 150px;
    background-image: linear-gradient(360deg,transparent,rgba(37, 37, 37, 0.167),#111) ;    
    z-index: 3;
    position: relative;
}

.sponsor_fade
{
    margin-top: -90px;
    height: 250px;
    background-image: linear-gradient(180deg,transparent,rgba(37, 37, 37, 0.186),#111) ;
    z-index: 3;
    position:relative;
}

.sponsor_text
{
    z-index: 4;
    font-size: 400%;
    position: relative;
    color: rgba(245, 245, 245, 0.808);
    margin-top: -250px;
    margin-left: 630px;
}