.about
{
    margin-top: 200px;

}

.wallpaper
{
    z-index: 1;
    width: 45%;
    position:relative;
}

.top_fade
{
    background-image: linear-gradient(360deg,transparent,rgba(37, 37, 37, 0.353),#111) ;
    height: 400px;
    width: 100%;
    margin-top: -390px;
    z-index: 2;
    position: relative;
}

.text
{
    color: rgba(245, 245, 245, 0.896);
    font-size: 170%;
    z-index: 5;
    position: relative;
    margin-left: 900px;
    margin-right: 100px;
    margin-top: -380px;
    text-align: justify;
}

#desc1
{
    margin-top: 20px;
    font-size: 80%;
}

.bottom_fade
{
    background-image: linear-gradient(180deg,transparent,rgba(37, 37, 37, 0.186),#111) ;
    position:relative;
    z-index: 5;
    height: 200px;
    margin-top: -40px;
}